{# templates/login/index.html.twig #}
{% extends "base.html.twig" %}

{% block css %}
        <link href="{{ asset('css/login-style.css') }}" rel="stylesheet"/>
{% endblock %}

{% block title%}
        Login
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-8" id="login-box">
            <div class="card">
                <div class="card-header">
                    Login
                </div>

                <form method="post" action="/login">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="email@example.com" required>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="Password" required>
                        </div>
                        <br>
                        
                        <center>
                            <button type="submit" class="btn btn-primary">Login</button>
                        </center>

                        <hr>
                        <center>
                            <a href="/register" class="btn btn-primary btn-secondary" role="button" aria-pressed="true">Register</a>
                        </center>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}