{# templates/base.html.twig #}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap files -->
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <script src="/js/bootstrap.bundle.min.js"></script>

        <!-- Jquery files -->
        <script src="/js/jquery-3.6.0.min.js"></script>

        {% block js %}
        {% endblock %}

        <link href="{{ asset('css/main-style.css') }}" rel="stylesheet"/>
        
        {% block css %}
        {% endblock %}

        <meta name="theme-color" content="#7952b3">

        <title>SCG Project - {% block title %}{% endblock %}</title>
    </head>
    

    <body>
        <nav id="nav-header" class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid collapse nav-bar-collapse">
                <ul class="navbar-nav mr-auto">
                    {% if page != 'register' and page != 'login' %}
                        <li class="nav-item">
                            <a class="nav-link {% if page == 'orders' %}active{% endif %}" href="/orders">Create Order</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if page == 'view-orders' %}active{% endif %}" href="/view-orders">View Orders</a>
                        </li>
                        {% if is_granted('ROLE_MANAGER') %}
                            <li class="nav-item">
                                <a class="nav-link {% if page == 'users-list' %}active{% endif %}" href="/users-list">Users List</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if page == 'create-user' %}active{% endif %}" href="/create-user">Create User</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                    {% endif %}
                    {% if page == 'register' or page == 'login' %}
                        <li class="nav-item">
                            <a class="nav-link {% if page == 'login' %}active{% endif %}" href="/">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if page == 'register' %}active{% endif %}" href="/register">Register</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <div class="container">
            {% block content %}
            {% endblock%}
        </div>
    </body>
</html>
